body {
  background: black;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 1500;
}
button{
  color: aliceblue;
  background-color: #434644;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  border-radius: 25%;
  margin-left: 5px;
}
section {
  background: white;
  border-radius: 10px;
  padding: 15px;
  width: 500px;
  height: auto;
  margin: auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.623);
  margin-top: 15px;
}
h1 {
  position: absolute;
  align-self: center;
  margin-left: 60px;
  top: 10px;
  width: fit-content;
}
header {
  background: white;
  border-radius: 10px;
  padding: 15px;
  width: 500px;
  height: 50px;
  margin: auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.623);
}
.dice-image {
  height: 50px;
  width: 50px;
  border: 1px black;
}
div #roll {
  display: grid;
  grid-template-columns: 250px 250px;
  grid-template-rows: repeat(2, 30px);
}
/* The alert message box */
.alert {
  padding: 20px;
  background-color: #149b51;
  color: white;
  margin-bottom: 15px;
  border-radius: 10px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.closebtn:hover {
  color: black;
}
.container{
  color: white;
  background: rgba(54, 17, 221, 0.623);
  border-radius: 10px;
  padding: 15px;
  width: 470px;
  height: auto;
  margin: auto;
  margin-top: 15px;
}
input#save-name{
  margin-left: 28%;
}
button#cancelSave{
  margin-left: 25%;
  margin-right: 9%;
}